{% extends 'reviews/base.html'%}
{% load static %}
{% block content %}
<head>
    <title>Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'reviews/vendor/bootstrap/css/bootstrap.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'reviews/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'reviews/fonts/iconic/css/material-design-iconic-font.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'reviews/vendor/animate/animate.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'reviews/vendor/css-hamburgers/hamburgers.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'reviews/vendor/animsition/css/animsition.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'reviews/vendor/select2/select2.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'reviews/vendor/daterangepicker/daterangepicker.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%static 'reviews/css/util.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'reviews/css/main.css'%}">
    <!--===============================================================================================-->
</head>


    <div class="limiter">
        <!--<div class="container-login100" style="background-image: url('../../Content/images/bg-01.jpg');">-->
        <div class="container-login100" style="background-color: #008B8B;">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-10 p-b-10">
                <form class="login100-form validate-form" method="POST">
                    {% csrf_token %}
                    <span class="login100-form-title p-b-20">
                        Log In
                    </span>
                    <div class="wrap-input100 validate-input m-b-20" data-validate="Name is reauired">
                        <span class="label-input100">Username:</span>
                        <input id="{{ form.username.id_for_label }}" class="input100" type="text" name="{{ form.username.html_name }}" maxlength="20" autofocus=""  placeholder="Type your Name" >
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

<!--                    <div class="wrap-input100 validate-input m-b-20" data-validate="Email is reauired">-->
<!--                        <span class="label-input100">Email:</span>-->
<!--                        <input id="{{ form.email.id_for_label }}" class="input100" type="email" name="{{ form.email.html_name }}" maxlength="60" autofocus=""  placeholder="Type your Email">{{ form.email.errors }}-->
<!--                        <span class="focus-input100" data-symbol="&#xf206;"></span>-->
<!--                    </div>-->

                    <div class="wrap-input100 validate-input m-b-20" data-validate="Password is required">
                        <span class="label-input100">Password:</span>
                        <input id="{{ form.password.id_for_label }}" class="input100" type="password" name="{{ form.password.html_name }}" autocomplete="new-password"  placeholder="Type your password">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>



                    <div class="text-right p-t-8 p-b-31">
                        <a href="{% url 'resetpassword'%}">
            Forgot password?
        </a>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">
                                Sign In
                            </button>
                        </div>
                    </div>

                    <div class="txt1 text-center p-t-20 p-b-10">
                        <span>
                            Or Sign in Using
                        </span>
                    </div>

                    <div class="flex-c-m">
                        <a href="#" class="login100-social-item bg1">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="login100-social-item bg2">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#" class="login100-social-item bg3">
                            <i class="fa fa-google"></i>
                        </a>
                    </div>
                    <div class="txt1 text-center p-t-30 p-b-20">
                        <span>
                            Have no account ? &nbsp
                            <a href="{% url 'registration' %}" class="txt2">
                                Sign Up
                            </a>
                        </span>
                    </div>
                    <div class="flex-col-c p-t-1">

                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="{%static 'reviews/vendor/jquery/jquery-3.2.1.min.js'%}"></script>


    <!--===============================================================================================-->
 <script src="{%static 'reviews/vendor/animsition/js/animsition.min.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{%static 'reviews/vendor/bootstrap/js/popper.js'%}"></script>
<script src="{%static 'reviews/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
    <!--===============================================================================================-->
<script src="{%static 'reviews/vendor/select2/select2.min.js'%}"></script>
    <!--===============================================================================================-->
<script src="{%static 'reviews/vendor/daterangepicker/moment.min.js'%}"></script>
<script src="{%static 'reviews/vendor/daterangepicker/daterangepicker.js'%}"></script>
    <!--===============================================================================================-->
<script src="{%static 'reviews/vendor/countdowntime/countdowntime.js'%}"></script>
    <!--===============================================================================================-->
<script src="{%static 'reviews/js/main.js'%}"></script>




{% endblock content %}