{% extends 'reviews/base.html'%}
{% load static %}
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'profile/profile.css'%}">
    <div class="main-content">
        <div class="container mt-7">
            <!-- Table -->
            <div class="row">
                <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <div id="profilePhoto">
                                        <img class="rounded-circle" src="{{ object.profile.image.url }}">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                                <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                                {%if object.username == user.username%}
                                <a href="{% url 'editprofile'%}" class="btn btn-sm btn-info mr-4 float-right" >Edit Profile</a>
                                {%endif%}

                            </div>
                        </div>
                        <div class="card-body pt-0 pt-md-4">
                            <div class="text-center  mt-md-4">
                                <h3 id="profileName">

                                </h3>
                                <div class="h5 font-weight-300">
                                    <i class="fas fa-map-marker-alt">  </i> <span id="address"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center mt-md-0">
                                        <div>
                                            <span class="heading">22</span>
                                            <span class="description">Posts</span>
                                        </div>
                                        <div>
                                            <span class="heading">10</span>
                                            <span class="description">Discussions</span>
                                        </div>
                                        <div>
                                            <span class="heading">89</span>
                                            <span class="description">Helpful</span>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <hr class="my-2">
                                        <p>Users Post will be available here inside cards.</p>
                                        <a href="" target="_blank">Show more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
{%endblock%}



