{% extends 'reviews/base.html' %}
{% load crispy_forms_tags %}
{%load static%}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'reviews/multiselect.css'%}">
<link rel="stylesheet" href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{formset|crispy}}
            {{starsForm|crispy}}

            <div  data-validate="Name is reauired">
                <span>Restaurent</span>
                <select id="{{ reviewForm.restaurentOrPlace.id_for_label }}" class="select form-control"  name="{{ reviewForm.restaurentOrPlace.html_name }}" required >
                    {%for restaurent in reviewForm.restaurentOrPlace %}
                        {{restaurent}}
                    {%endfor%}
                </select>
            </div>

            <div  data-validate="Name is reauired">
                <span>Title</span>
                <input id="{{ reviewForm.review_title.id_for_label }}" class="textinput textInput form-control" type="text" name="{{ reviewForm.review_title.html_name }}" maxlength="100" autofocus=""  placeholder="Type your Name" required >
            </div>

            <div  data-validate="Name is reauired">
                <span>Review Body</span>
                <textarea id="{{ reviewForm.review_body.id_for_label }}" class="textarea form-control"  name="{{ reviewForm.review_body.html_name }}" cols="40" rows="10"    placeholder="Type your Name" required ></textarea>
            </div>


            <div >
                <span>Items</span>
                <select id="choices-multiple-remove-button" placeholder="Select upto 5 Items" name="{{ reviewForm.items.html_name }}"  multiple>
                        {%for item in reviewForm.items %}
                            {{item}}
                        {%endfor%}
                </select>
                <span>Tags</span>
                <select id="choices-multiple-remove-button" placeholder="Select upto 5 tags" name="{{ reviewForm.tags.html_name }}"  multiple>
                    {%for tag in reviewForm.tags %}
                    {{tag}}
                    {%endfor%}
                </select>
            </div>


            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="{{ reviewForm.is_offer_or_planned.id_for_label }}">
                <label class="form-check-label" for="{{ reviewForm.is_offer_or_planned.id_for_label }}">Offered Food</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="{{ reviewForm.is_recommended.id_for_label }}">
                <label class="form-check-label" for="{{ reviewForm.is_recommended.id_for_label }}">Recommended</label>
            </div>


            <div>
                <button type="submit" class="btn btn-info">Post</button>
            </div>
        </form>

    </div>


<script src="{%static 'reviews/js/multiselectBox.js'%}"></script>
{% endblock content %}

